<?xml version="1.0"?>
<launch>

<!-- arguments are set via terminal and can have a default value -->
<arg name="robot_name" default="thymio10" />
<arg name="model" default="pitfalls" />
<!-- nodes are exectued -->
<node pkg="final_project" name="thymio_controller" type="thymio_avoid_obstacles.py" output="screen">
    <!-- paramters must be set in the launchfile -->
    <param name="robot_name" value="/$(arg robot_name)" />
    <param name="model" value="/$(arg model)" />
</node>



</launch>
