<?xml version="1.0"?>
<launch>

<!-- arguments are set via terminal and can have a default value -->
<arg name="robot_name" default="thymio10" />
<!-- <arg name="key_vel" default="/thymio10/cmd_vel" /> -->
<!-- nodes are exectued -->
<node pkg="final_project" name="thymio_controller" type="key_teleop_assisted.py" output="screen">
    <!-- paramters must be set in the launchfile -->
    <param name="robot_name" value="/$(arg robot_name)" />
    <!-- <param name="key_vel" value="/$(arg key_vel)" /> -->
</node>



</launch>
